<mat-toolbar>
    <mat-nav-list class="list-horizontal">
        <mat-list-item>
            <button mat-menu-item routerLink='/home/beerlist'>Discover</button>
        </mat-list-item>

        <mat-list-item>
            <button mat-menu-item routerLink='/home/notify'>Notifications</button>
        </mat-list-item>

        <mat-list-item>
            <button mat-menu-item [matMenuTriggerFor]="settingsmenu">Settings</button>
        </mat-list-item>
        <mat-menu #settingsmenu="matMenu" backdropClass="customize" [overlapTrigger]="false">
            <button mat-menu-item>
                <span>My Profile</span>
            </button>

            <button mat-menu-item (click)='logout()'>
                <span>Logout</span>
            </button>
        </mat-menu>
    </mat-nav-list>
</mat-toolbar>
<router-outlet></router-outlet>