<mat-toolbar>
    <mat-nav-list class="list-horizontal">
        <!--button to nav to new releases for today-->
        <mat-list-item>
            <button mat-menu-item routerLink='/home/newReleases'>Today's Releases</button>
        </mat-list-item>
        <!--button to nav to all avail beers today-->
        <mat-list-item>
            <button mat-menu-item routerLink='/home/beerlist'>Current Selections</button>
        </mat-list-item>
        <!--button to nav to your notifications-->
        <mat-list-item>
            <button mat-menu-item routerLink='/home/notify'>Notifications</button>
        </mat-list-item>
        <!--button to nav to settings (profile/logout)-->
        <mat-list-item>
            <button mat-menu-item [matMenuTriggerFor]="settingsmenu">Settings</button>
        </mat-list-item>

        <mat-menu #settingsmenu="matMenu" backdropClass="customize" [overlapTrigger]="false">
            <!--nav to profile-->
            <button mat-menu-item routerLink='/home/profile'>
                <span>My Profile</span>
            </button>
            <!--logout-->
            <button mat-menu-item (click)='logout()'>
                <span>Logout</span>
            </button>
        </mat-menu>

    </mat-nav-list>
</mat-toolbar>
<router-outlet></router-outlet>