    mat-nav-list.list-horizontal {
        display: flex;
    }
    
    .mat-list-item {
        height: auto;
        width: auto;
    }
    
    .mat-menu-content {
        background-color: black;
    }
    
    .mat-toolbar-row,
    .mat-toolbar-single-row {
        height: unset !important;
    }
    
    .mat-list-item .mat-list-item-content {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    
    .mat-toolbar {
        background-color: black;
        position: fixed;
        z-index: 1000
    }
    
    button {
        color: wheat;
        background-color: black;
    }