    mat-nav-list.list-horizontal {
        display: flex;
    }
    
    .mat-list-item {
        height: auto;
        width: auto;
    }
    
    .mat-toolbar-row,
    .mat-toolbar-single-row {
        height: unset !important;
    }
    
    .mat-list-item .mat-list-item-content {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    
    body {
        background-image: url('../../../brewery background.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    
    button {
        background-color: salmon;
    }