<mat-toolbar>
    <mat-nav-list class="list-horizontal">
        <mat-list-item>
            <button mat-menu-item (click)="changeRoute('beerlist')">Discover Beer</button>
        </mat-list-item>

        <mat-list-item>
            <button mat-menu-item (click)="changeRoute('notify')">My Notifications</button>
        </mat-list-item>

        <mat-list-item>
            <button mat-menu-item [matMenuTriggerFor]="billsmenu">Profile</button>
        </mat-list-item>

        <mat-menu #billsmenu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item>
                    <span>Settings</span>
            </button>

            <button mat-menu-item (click)='logout()'>
                    <span>Logout</span>
            </button>
        </mat-menu>
    </mat-nav-list>
</mat-toolbar>