<div class="background">
    <div class="signin_container">
        <form class="signin_form">
            <span>
                <input class="signin_input signin_action" placeholder="Email Address" name="email" required>
            </span>
            <div>

            </div>
            <span>
                <input class="signin_input signin_action" placeholder="Password" name="password" required>
            </span>
        </form>
        <button class="signin_action"> Sign In</button>
        <a class="signin_signup" name="forgotPass" routerLink="/home">Forgot Password?</a>
        <a class="signin_signup" name="signup" routerLink="/signup">Sign Up</a>
    </div>
</div>