.inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
    margin: 100px auto;
    padding: 50px 20px;
    align-content: center;
    background-color: rgba(245, 245, 245, .7);
    border-radius: 5px;
}

i {
    color: dodgerblue;
    cursor: pointer;
    padding-left: 5px;
}

input {
    background-color: transparent;
    color: black;
    padding-left: 10px;
}

.buttons {
    padding-top: 10px;
}

button {
    color: white;
    background-color: navy;
    border: 0;
    font-size: 14px;
    padding: 8.85px 13px;
    border-radius: 5px;
    box-shadow: none;
}

button:hover {
    opacity: 80%;
    cursor: pointer;
}

button:active {
    opacity: 100%;
}

.divider {
    width: 5px;
    height: auto;
    display: inline-block;
}

body {
    padding-top: 50px;
}