<div class="background">
    <div class="signup_container">
        <h1>Sign Up</h1>
        <form #newUser="ngForm" (ngSubmit)="onSave(newUser)">

            <input name="name" [(ngModel)]="name" placeholder="Name" required>

            <input name="email" [(ngModel)]="email" placeholder="Email Address" email='true' required>

            <input name="addr" [(ngModel)]="addr" placeholder="Street Address" required>

            <input name="city" [(ngModel)]="city" placeholder="City" required>

            <input name="state" [(ngModel)]="state" placeholder="State" required>

            <input name="zip" [(ngModel)]="zip" placeholder="Zip" required>

            <input name="pass" type="password" [(ngModel)]="pass" placeholder="Password" autocomplete="new-password" required>

            <input name="conPass" type="password" [(ngModel)]="conPass" placeholder="Confirm Password" autocomplete="new-password" required>


            <button>Sign Up</button>
        </form>
    </div>
</div>