.signup_container {
    width: 500px;
    height: 500px;
    margin: 100px auto;
    padding: 10px 20px;
    align-content: center;
    background-color: rgba(245, 245, 245, .7);
    border-radius: 5px;
}

.form {
    padding-bottom: 20px;
    width: 100%;
}

.signup_form {
    padding: 15px 0px 15px 0px;
}

button {
    width: 100%;
    color: white;
    background-color: navy;
    border: 0;
    font-size: 14px;
    padding: 8.85px 13px;
    border-radius: 5px;
    box-shadow: none;
}

button:hover {
    opacity: 80%;
    cursor: pointer;
}

button:active {
    opacity: 100%;
}

input {
    margin-top: 20px;
    font-size: 14px;
    padding: 8.85px 13px;
    border-radius: 5px;
    box-shadow: none;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
}

select {
    margin-top: 20px;
    font-size: 14px;
    padding: 8.85px 13px;
    border-radius: 5px;
    box-shadow: none;
    width: 184px;
    height: 41px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
}

a {
    margin-top: 15px;
}

test {
    margin-top: 150px;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}


/* Clear floats after the columns */

.signup_container:after {
    content: "";
    display: table;
    clear: both;
}