.inner-container,
.notifications {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notifySpace {
    margin-top: 50px;
}

.bgColor {
    background-color: rgba(245, 245, 245, .7);
    min-width: 600px;
    border-radius: 5px;
}

#delBTN {
    float: right;
    clear: both;
    cursor: pointer;
    color: red;
    font-size: 30px;
}

select {
    max-width: 200px;
}

#addBTN {
    float: right;
    clear: both;
    cursor: pointer;
    color: green;
    font-size: 28px;
    padding-left: 10px;
}

.clearall {
    cursor: pointer;
    padding-right: 10px;
    float: right;
}

h1 {
    color: wheat;
    margin-left: 200px;
}

body {
    padding-top: 50px;
}

mat-list-item:hover {
    background-color: rgba(255, 255, 255, .7);
    border-radius: 5px;
}

mat-form-field {
    padding-left: 5px;
    padding-right: 5px;
}

p {
    width: 100%;
    padding: 10px;
}