<body>
    <div class="signin_container">
        <div class="content">
            <h1>Reset Password</h1>
            <!--form to reset password-->
            <form class="signin_form" [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
                <div class="form">
                    <input type="text" formControlName="email" class="signin_action" placeholder="Email Address" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                    </div>
                </div>
                <button class="signin_action">Send Email</button>
            </form>
            <a routerLink='/login'>Back to Login</a>
        </div>
    </div>
</body>