<body>
    <div class="signin_container">
        <div class="content">
            <h1>Reset Password</h1>
            <form class="signin_form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class='form'>
                    <input class="signin_action" placeholder="Email Address" [(ngModel)]="email" name="email" required>
                </div>
                <button class="signin_action"> Send Email</button>
            </form>
            <a routerLink='/login'>Back to Login</a>
        </div>
    </div>
</body>